*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

label {
  display: inline-block;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}

iframe {
  border: none;
}


@font-face {
  font-family: Bitter-Bold;
  src: url(../font/Bitter-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Bitter-Italic;
  src: url(../font/Bitter-Italic.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Bitter-Regular;
  src: url(../font/Bitter-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Nunito-Bold;
  src: url(../font/Nunito-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: PermanentMarker-Regular;
  src: url(../font/PermanentMarker-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
  font-size: 15px;
}

body {
  font: 100 16px/1.3 var(--ff);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;
}

.gy60 {
  gap: 4rem 0;
}

[class^="col-"] {
  padding: 0 1rem;
  flex: 1 0 auto
}

.col-1 {
  flex-basis: 8.33%;
  max-width: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
  max-width: 16.66%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
  max-width: 41.66%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.33%;
  max-width: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
  max-width: 66.66%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.33%;
  max-width: 83.33%;
}

.col-11 {
  flex-basis: 91.66%;
  max-width: 91.66%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-bet {
  justify-content: space-between;
}

.wrap-1 {
  background: url("../image/header.png") no-repeat center center/cover;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 3rem; */
}

.navbar .nav-links {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

.navbar .nav-links li {
  margin-left: 1rem;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Nunito-Bold;

}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.burger.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.burger.toggle .line2 {
  opacity: 0;
}

.burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links.toggle {
  display: flex;
}


.banner {
  display: flex;
  padding: 5rem 0 20rem;
}

.banner .cut {
  margin-top: 20px;
  margin-right: 20px;
  color: #acff9d;

}

.banner .cut i {
  display: block;
  margin-top: 5px;
  font-size: 2rem;
}

.banner .text {
  color: #ffffff;
}

.banner .text h1 {
  font-size: 60px;
  font-family: Nunito-Bold;
}

.banner .text p {
  font-size: 20px;
  padding: 1rem 0;
}

.banner .text :nth-child(3) {
  font-size: 21px;
  font-weight: bold;
  font-family: Bitter-Regular;
}


.wrap-2 .cut {
  margin-right: 20px;
  color: #acff9d;
}

.wrap-2 .cut-s {
  display: flex;
  padding: 2.5rem 0 5rem;
}

.wrap-2 .cut i {
  display: block;
  margin-top: 5px;
  color: #acff9d;
  font-size: 2rem;
}

.wrap-2 .Hinking .cut {
  float: right;
  margin-right: -3rem;
  color: #acff9d;
}

.wrap-2 .Hinking .cut i {
  display: block;
  margin-top: 5px;
  color: #acff9d;
  font-size: 2rem;
}

.wrap-2 .HEADING h2 {
  font-size: 2rem;
  font-family: Bitter-Regular;
  color: #1f262f;
}

.wrap-2 .HEADING p strong {
  font-size: 2rem;
  color: #1f262f;
  font-family: Bitter-Bold;
}

.wrap-2 .HEADING div {
  border-bottom: 1px solid #2fc8e1;
  padding-bottom: 20px;
  width: 70px;
  border-width: 5px;
}

.wrap-2 .Hinking .text-s h3 {
  font-size: 25px;
  color: #1f262f;
  font-family: Bitter-Bold;
  padding: 2rem 0;
}

.wrap-2 .Hinking .text-s p {
  font-size: 23px;
  color: #1f262f;
  font-family: Bitter-Regular;
}

.wrap-3 {
  padding: 10rem 0 4rem;
}

.wrap-3 .Rock h2 {
  font-size: 50px;
  font-family: Bitter-Bold;
}

.wrap-3 .Rock .text h3 {
  font-size: 33px;
  font-family: Bitter-Bold;
  padding: 2rem 0 1rem;
}

.wrap-3 .Rock .text p {
  font-size: 26px;
  font-family: Bitter-Regular;
}

.wrap-3 .Rock .text p:nth-child(2) {
  border-bottom: 2px solid #2fc8e1;
  padding-bottom: 1rem;
}

.wrap-3 .Rock .text p:nth-child(3) {
  padding: 1rem 0 1.5rem;
}

.wrap-3 .Rock .flex b {
  font-size: 25px;
  font-family: Bitter-Bold;
}

.para {
  margin-left: 30px;
  font-weight: 800;
}

.wrap-3 .image img {
  aspect-ratio: 1/1;
  width: 415px;
  height: 415px;
  border-radius: 50%;
}

.wrap-3 .image {
  padding-left: 3rem;
}

.wrap-3 .image p {
  font-size: 33px;
  font-family: PermanentMarker-Regular;
  color: #fd5f00;
  padding-top: 3rem;
}

.wrap-4 {
  background: url(../image/BGD.png) no-repeat center top/cover;
  padding: 9rem 0 4rem;
}

.wrap-4 .bgd-text h2 {
  font-size: 50px;
  font-family: PermanentMarker-Regular;
  color: #ffff;
  padding-bottom: 3rem;
}

.wrap-4 .bgd-text p {
  font-size: 25px;
  font-family: Bitter-Bold;
  color: #ffff;
}

.wrap-4 .bgd-text p:nth-child(3) {
  font-size: 20px;
  font-family: Bitter-Regular;
  color: #ffff;
  padding: 1rem 0;
}

.wrap-4 .bgd-text .button {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #2fc8e1;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2rem;
}

.wrap-4 .bgd-text .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.wrap-4 .bgd-text .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.wrap-4 .bgd-text .button:hover span {
  padding-right: 25px;
}

.wrap-4 .bgd-text .button:hover span:after {
  opacity: 1;
  right: 0;
}

.wrap-4 .more {
  height: 41px;
  overflow: hidden;
  width: 200px;
}

.wrap-4 .more.show {
  height: auto;
  overflow: visible;
  width: 300px;
}

.wrap-5 {
  padding: 5rem 0 7rem;
}

.wrap-5 .cut-s {
  display: flex;
}

.wrap-5 .cut {
  margin-right: 20px;
  color: #2fc8e1;
}

.wrap-5 .cut i {
  display: block;
  margin-top: 5px;
  font-size: 2rem;
  margin-left: -4rem;
  margin-bottom: -5rem;
}

.wrap-5 .HEADING h2 {
  font-size: 37px;
  font-family: Bitter-Bold;
}

.wrap-5 .HEADING div {
  border-bottom: 2px solid #2fc8e1;
  padding-bottom: 2rem;
  width: 80px;
  border-width: 5px;
}

.wrap-5 .Hinking {
  display: flex;
  flex-direction: row;
  padding-block: 2rem;
}

.wrap-5 .Hinking .text-s {
  padding: 1rem 0 0 2rem;
}

.wrap-5 .Hinking .text-s p {
  font-size: 20px;
  font-family: Bitter-Regular;
}

.wrap-5 .image img {
  aspect-ratio: 1/1;
  width: 415px;
  height: 415px;
  border-radius: 50%;
}

.wrap-5 .image {
  padding-left: 3rem;
}

.wrap-5 .image p {
  font-size: 33px;
  font-family: PermanentMarker-Regular;
  color: #2fc8e1;
  padding-top: 3rem;
}

.wrap-5 .image .cut {
  float: right;
  margin-right: -3rem;
}

.wrap-5 .image .cut i {
  display: block;
  margin-top: 5px;
  color: #2fc8e1;
  font-size: 2rem;
}

.wrap-6 {
  background: url(../image/BGD1.png) no-repeat center top/cover;
  background-size: cover;
  padding: 6rem 0 22rem;
}

.wrap-6 .heading h2 {
  font-size: 45px;
  font-family: PermanentMarker-Regular;
  color: #fd5f00;
}

.wrap-6 .heading h3 {
  font-size: 33px;
  color: #ffff;
  padding: 1rem 0;
}

.wrap-6 .heading p {
  font-size: 25px;
  color: #ffff;
}

.wrap-7 {
  padding: 4rem 0;
}

.wrap-7 .height-fix {
  height: 650px;
  overflow: hidden;
  transition: all .5s linear;
}

.wrap-7 .height-fix.auto {
  height: auto;
  overflow: visible;
}

.wrap-7 .visit h2 {
  font-size: 40px;
  font-family: Bitter-Bold;
  text-transform: uppercase;
}

.wrap-7 .img-text img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 265px;
  height: 265px;
}

.wrap-7 .img-text {
  padding-top: 5rem;
}

.wrap-7 .img-text h3 {
  font-size: 33px;
  font-family: Bitter-Bold;
  color: #1f262f;
  padding: 2rem 0;
}

.wrap-7 .img-text p {
  font-size: 20px;
  padding-bottom: 2rem;
}

.wrap-7 .img-text p strong {
  font-size: 25px;
  font-family: Bitter-Bold;
  color: #1f262f;
  padding-right: 15px;
}

.wrap-7 .img-text .top {
  padding-top: 1rem;
}

.wrap-7 .button {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #2fc8e1;
  color: #1f262f;
  text-align: center;
  font-size: 17px;
  padding: 8px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.wrap-7 .btn2 {
  margin: 3rem auto;
  display: block;
}


.wrap-7 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.wrap-7 .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.wrap-7 .button:hover span {
  padding-right: 25px;
}

.wrap-7 .button:hover span:after {
  opacity: 1;
  right: 0;
}

.wrap-7 .dots {
  width: 50px;
  cursor: pointer;
}

.wrap-7 .dots span {
  display: block;
  width: 5px;
  aspect-ratio: 1/1;
  background: #2fc8e1;
  margin: 3px 0;
  border-radius: 50%;
}

.wrap-8 {
  padding: 7rem 0 4rem;
  background: url(../image/BGD3.png) no-repeat center top/cover;
}

.wrap-8 .Rock h2 {
  font-size: 50px;
  font-family: Bitter-Bold;
  color: #ffff;
}

.wrap-8 .Rock .text h3 {
  font-size: 33px;
  font-family: Bitter-Bold;
  padding: 2rem 0 1rem;
  color: #ffff;
}

.wrap-8 .Rock .text p {
  font-size: 26px;
  font-family: Bitter-Regular;
  color: #ffff;
}

.wrap-8 .Rock .text p:nth-child(2) {
  border-bottom: 2px solid #2fc8e1;
  padding-bottom: 1rem;
}

.wrap-8 .Rock .text p:nth-child(3) {
  padding: 1rem 0 1.5rem;
}

.wrap-8 .Rock .flex b {
  font-size: 25px;
  font-family: Bitter-Bold;
  color: #ffff;
}

.para {
  margin-left: 30px;
  font-weight: 800;
}

.wrap-8 .image img {
  aspect-ratio: 1/1;
  width: 415px;
  height: 415px;
  border-radius: 50%;
}

.wrap-8 .image {
  padding-left: 3rem;
}

.wrap-8 .image p {
  font-size: 33px;
  font-family: PermanentMarker-Regular;
  color: #fd5f00;
  padding-top: 3rem;
}

.wrap-9 {
  padding: 13rem 0 4rem;
  background: url(../image/BGD2.png) no-repeat center top/cover;
}

.wrap-9 .Texts p {
  font-size: 33px;
  font-family: PermanentMarker-Regular;
  color: #ffff;
  text-align: center;
}

.wrap-9 .Texts .button {
  border-radius: 4px;
  background: transparent;
  border: 1px solid #2fc8e1;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  display: block;
  margin: 9rem auto 0;
}

.wrap-9 .Texts .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.wrap-9 .Texts .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.wrap-9 .Texts .button:hover span {
  padding-right: 25px;
}

.wrap-9 .Texts .button:hover span:after {
  opacity: 1;
  right: 0;
}

.wrap-10 {
  padding: 4rem 0 2rem;
}

.wrap-10 .about h3 {
  font-size: 25px;
  font-family: Bitter-Bold;
  color: #1f262f;
}

.wrap-10 .about p {
  font-size: 15px;
  font-family: Bitter-Regular;
  color: #1f262f;
  width: 63%;
  padding: 1rem 0 4rem;
}

.wrap-10 .footer-link {
  padding: 4rem 0 2rem;
}

.footer-link h3 {
  font-size: 20px;
  font-family: Bitter-Bold;
  color: #1f262f;
}

.footer-link ul {
  padding-top: 2rem;
}

.footer-link ul li a {
  font-size: 15px;
  font-family: Bitter-Regular;
  color: #1f262f;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #1f262f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  /* Initially hidden */
  font-size: 16px;
}

.scroll-to-top:hover {
  background-color: #3a3f47;
}



@media(max-width:1220px) {

  .wrap-2 .Hinking .cut {
    margin-right: -1rem;
  }

  .navbar {
    padding-top: 2rem;
  }
}

@media(max-width:980px) {
  .wrap-3 .image img {
    width: 100%;
    height: auto;
  }

  .navbar .nav-links {
    padding-top: 0;
  }

  .wrap-5 .image img {
    width: 100%;
    height: auto;
  }

  .wrap-7 .img-text img {
    width: 100%;
    height: auto;
  }

  .wrap-8 .image img {
    width: 100%;
    height: auto;
  }

  .wrap-8 .Rock h2 {
    font-size: 40px;
  }

  .navbar {
    justify-content: end;
    padding-top: 2.5rem;
  }
}

@media(max-width:767px) {
  .col-p-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-p-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .navbar .nav-links {
    display: none;
    gap: 1rem;
  }

  .burger {
    display: flex;
    padding-right: 10px;
  }

  .nav-links.toggle {
    position: fixed;
    top: 75px;
    display: flex;
    flex-direction: column;
    background: #1f262f;
    padding: 20px 10px;
    border-radius: 7px;
    right: 15px;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar .nav-links a {
    font-size: 17px;
    display: inline-block;
  }

  .wrap-2 .cut-s {
    justify-content: center;
    text-align: center;
  }

  .wrap-2 .HEADING div {
    margin: auto;
  }

  .wrap-2 .Hinking .text-s p {
    padding-inline: 5rem;
  }

  .bgd-text {
    text-align: center;
  }

  .wrap-3 .Rock {
    text-align: center;
  }

  .flex {
    justify-content: center;
  }

  .wrap-3 .image {
    padding-left: 0;
    text-align: center;
    margin-top: 3rem;
  }

  .wrap-5 .HEADING h2 {
    text-align: center;
  }

  .wrap-5 .HEADING div {
    margin: auto;
  }

  .wrap-5 .cut i {
    margin-bottom: 1rem;
  }

  .wrap-5 .Hinking {
    justify-content: center;
  }

  .wrap-5 .cut-s {
    justify-content: center;
  }

  .wrap-5 .image .cut {
    margin-right: -1rem;
  }

  .wrap-5 .image {
    padding-left: 0;
    text-align: center;
  }

  .wrap-6 .heading h2 {
    font-size: 30px;
  }

  .wrap-8 .image {
    padding-left: 0;
    text-align: center;
  }

  .wrap-9 .Texts p {
    font-size: 20px;
  }

}

@media(max-width:460px) {
  .col-m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-m-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .navbar .nav-links {
    display: none;
    gap: 1rem;
  }

  .burger {
    display: flex;
    padding-right: 10px;
  }

  .nav-links.toggle {
    position: fixed;
    top: 75px;
    display: flex;
    flex-direction: column;
    background: #54ecf1cc;
    padding: 1px 10px;
    border-radius: 7px;
    right: 5px;
    width: 33%;
  }

  .navbar .nav-links a {
    font-size: 17px;
    display: inline-block;
  }

  .col-m-hide {
    display: none;
  }

  .banner .text h1 {
    font-size: 35px;
  }

  .wrap-2 .Hinking .text-s p {
    padding-inline: 1rem;
  }

  .wrap-3 .image img {
    width: 100%;
    height: auto;
  }

  .wrap-3 {
    padding: 3rem 0 4rem;
  }

  .wrap-4 .more {
    width: 100%;
  }

  .wrap-4 .bgd-text h2 {
    font-size: 34px;
  }

  .wrap-4 .bgd-text p:nth-child(3) {
    margin: auto;
  }

  .wrap-5 .Hinking {
    flex-direction: column;
    padding: 0;
  }

  .wrap-5 .Hinking .text-s {
    padding: 1rem 0;
  }

  .wrap-5 .image img {
    width: 100%;
    height: auto;
  }

  .wrap-8 .image img {
    width: 100%;
    height: auto;
  }

  .wrap-8 .Rock h2 {
    font-size: 34px;
  }

  .wrap-9 .Texts .button {
    width: 50%;
  }
}